.header{
    background-color: aqua;
    height: 100px;
}/* You can add global styles to this file, and also import other style files */
.main.item{
    height: 150px;
    background-color: black;
    margin: 20px;
}
.cole-3 {
    background-color: #d42525;
    height: 100px;
}